@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    h1 {
        @apply text-center
        font-[Mulish] font-extrabold text-[16px] sm:text-[24px]
        sm:font-[Poppins] sm:font-semibold lg:text-[36px]
        sm:hover:font-extrabold
    }

    h3 {
        @apply text-left
        font-[Mulish] font-medium text-[24px]
        sm:hover:font-bold

    }
}

@layer components {

    .contenedor{
        @apply  mx-auto pb-[4px] w-[full] 
                xl:pb-[10px]
      }

    .lista{
        @apply  font-[Mulish] font-normal text-[16px] 
      }

}
