@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    h1 {
        @apply text-center
        font-[Mulish] font-extrabold text-[16px]
        sm:font-[Poppins] sm:font-semibold sm:text-[36px]
        sm:hover:font-extrabold
    }
}

@layer components {

    .contenedor{
        @apply  mx-auto pb-[4px] w-[full] 
                xl:pb-[10px]
      }

}
